[gitiles]
  # Repositories placed here
  basePath = /Users/ekuber/workspace
  # Do not check they are exported
  exportAll = true
  # This URL will be displayed as clone URL. DO NOT FORGET TRAILING SLASH!
  baseGitUrl = https://github.com/estebank/
  siteTitle = estebank@github — gitiles
  canonicalHostName = github.com/estebank
  extraCss = //maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css
  extraCss = /+static/whitelabel.css
